.containerQuienesSomos{
    display: flex;
    background-color: #313e470c;
    
    padding: 0;
    margin: 0;

}

.row{
    margin: 0;
}

.fontp{
    color: #313E47;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.264px;
}

.fonth2{
    color: #313E47;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.44px;
    padding-bottom: 2%;
}

.containerp{
    width: 75%;
    height: 100%;
    float: left;
    
    padding:5% 2% 7% 7%;
}

.containertecnico{
    padding: 2% 0% 0%;
    margin: 0;
    width: 60%;
    border-radius: 300px;
    float: right;
}

.imgtecnico {
    height: 100%;
}

.imgtecnicoresponsive{
    display: none;
    border-radius: 300px;

}

@media (max-width: 999px) {
    .imgtecnico {
      display: none; 
    }
  
    .imgtecnicoresponsive {
      display: block; 
    }
    .containertecnico {
        width: 100%;
        padding: 7% 4%;
    }
    .containerp{
        width: 100%;
        padding: 0% 5% 3%;
    }
    .fonth2{
        text-align: center;
        font-size: 33px
    }
    .fontp{
        text-align: justify;
        font-size: 20px;
    }
  }

  @media (max-width: 499px){
    .containertecnico {
        width: 100%;
        padding: 8% 2% 6%;
    }
    .fonth2{
        text-align: center;
        font-size: 29px
    }
    .fontp{
        text-align: justify;
        font-size: 16px;
    }
  }
