.container-productos {
    display: grid;
    grid-template-columns: min 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 20px 30px;
    grid-template-areas:
        "info-productos info-productos info-productos info-productos"
        "auris cargador fundas fundas"
        "cables cables mouse mouse";
    padding: 5%;
}

.info-productos {
    grid-area: info-productos;
    display: flex;
}

.info-productos span {
    color: #313E47;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.44px;
    margin-right: 15px;
}

.info-productos p {
    color: #313E47;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.264px;
}

.auris {
    grid-area: auris;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.auris img {
    width: 303px;
    height: 100%;
}

.cargador {
    grid-area: cargador;
    width: 100%;
    height: 100%;
    border-radius: 18px;

}

.cargador img {
    width: 286px;
    height: 380px;
    border-radius: 18px;
}

.fundas {
    grid-area: fundas;
    width: 100%;
    height: 100%;
    border-radius: 18px;

}

.fundas img {
    width: 543px;
    height: 386px;
}

.cables {
    grid-area: cables;
    width: 100%;
    height: 100%;
    border-radius: 18px;

}

.cables img {
    width: 616px;
    height: 362px;
}

.mouse {
    grid-area: mouse;
    width: 100%;
    height: 100%;
    border-radius: 18px;

}

.mouse img {
    width: 528px;
    height: 346px;
}

.imagenHover {
    border-radius: 18px;
}

.auris:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}