.container-services {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    background: url('../../multimedia/fondoServicios.png');
    background-color: #01395E;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-services {
    text-align: center;
    padding: 5%;
}

.title-services h1 {
    color: var(--casi-blanco, #F4F6F5);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.44px;
}

.container-info-services {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 8%;
}

.container-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    gap: 20px;
    text-align: center;
}

.container-info p {
    color: #F4F6F5;
}

@media only screen and (max-width: 576px) {
    .container-services {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        background: url('../../multimedia/fondoServicios.png');
        background-color: #01395E;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title-services {
        text-align: center;
        padding: 5%;
    }

    .title-services h1 {
        color: var(--casi-blanco, #F4F6F5);
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
    }

    .container-info-services {
        display: flex;
        align-items: start;
        flex-direction: row;
        margin-bottom: 3%;
        height: 30vh;
        margin-top: 7%;
    }

    .container-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20%;
        gap: 20px;
        text-align: center;
    }

    .container-info p {
        color: #F4F6F5;
        font-size: 14px;
    }

    .container-info img {
        width: 75px;
        height: 75px;
    }
}

@media only screen and (max-width: 450px) {
    .container-services {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        background: url('../../multimedia/fondoServicios.png');
        background-color: #01395E;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title-services {
        text-align: center;
        padding: 5%;
    }

    .title-services h1 {
        color: var(--casi-blanco, #F4F6F5);
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
    }

    .container-info-services {
        display: flex;
        align-items: start;
        flex-direction: row;
        margin-bottom: 3%;
        height: 30vh;
        margin-top: 1%;
        gap: 25px;
        padding: 6%;
    }

    .container-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 25%;
        gap: 20px;
        text-align: center;
    }

    .container-info p {
        color: #F4F6F5;
        font-size: 14px;
    }

    .container-info img {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 420px) {
    .container-services {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        background: url('../../multimedia/fondoServicios.png');
        background-color: #01395E;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title-services {
        text-align: center;
        padding: 5%;
    }

    .title-services h1 {
        color: var(--casi-blanco, #F4F6F5);
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
    }

    .container-info-services {
        display: flex;
        align-items: start;
        flex-direction: row;
        margin-bottom: 3%;
        height: 30vh;
        margin-top: 1%;
        gap: 20px;
        padding: 6%;
    }

    .container-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 25%;
        gap: 20px;
        text-align: center;
    }

    .container-info p {
        color: #F4F6F5;
        font-size: 13px;
    }

    .container-info img {
        width: 55px;
        height: 55px;
    }
}