.logoimg{  
    height: 100%;
}
.navbar{
    transition: none;
}

.logocontainer{
    width: 20%;
}
.navbarcontainer{
    height: 130px;
}


.navbarlinks{
    display: flex;

 
}
.titulosnavbar{
    color: #313E47; 
    text-decoration: none;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    letter-spacing: -0.264px;  
    padding-left: 8%; 
}

.nav-border-bottom{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.242);
}
.toggle-container{
    width: 15%;
    border: white !important;
    color: white !important;
    font-size: 35px !important;
}



@media (max-width: 999px){
    .logocontainer{
        width: 35%;
        margin: 2%;
    }
    .navbarcontainer{
        margin: 2% 10% 2%;
        height: 100px;
    }
    .titulosnavbar{
        background-color: white;
        text-align: left;
        margin-left: 50%;
        padding: 7% 50% 7% 5%;
        color: #313E47;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
        
}

@media (max-width: 500px){
    .toggle-container{
        width: 20%;
        border: white !important;
        color: white !important;
        font-size: 28px !important;
    }
    .logocontainer{
        width: 40%;
        margin: 0% 4% 0%;
    }
    .titulosnavbar{
        font-size: 18px;
        padding: 10% 50% 7% 6%;
    }
    .navbarcontainer{
        height: 85px;
    }
}


