.logoimg{  
    height: 100%;
}
.navbar{
    transition: none;
}

.navbar-fixed {
    position: fixed !important;
    z-index: 1000;
    background-color: white;
  }

.logocontainer{
    width: 20%;
}
.navbarcontainer{
    height: 130px;
}



.navbarlinks{
    display: flex;

}
.titulosnavbar{
    color: #313E47; 
    text-decoration: none;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.264px;  
    padding-left: 8%; 
}

.nav-border-bottom{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.242);
}
.toggle-container{
    width: 15%;
    border: white !important;
    color: white !important;
    font-size: 35px !important;
}


.buttonnavbar{
    background-color: white;
    border: 0px;
    font-weight: 300;
    color: #313E47;
}




@media (max-width: 999px){
    .logocontainer{
        width: 35%;
        margin: 2%;
    }
    .navbarcontainer{
        margin: 2% 10% 2%;
        height: 100%;
        
    }
    .titulosnavbar{
        background-color: rgb(255, 255, 255);
        text-align: left;
        padding: 15% 0% 15% 7%;
        color: #313E47;
        line-height: normal;
        border: white solid;
    }
    .contactanoslink{
        padding-bottom: 80%;
    }
    .navbarcollapse{
        position: fixed;        
        top: 12%;                 
        bottom: 0;             
        left: 50%;              
        width: 50%;             
        background-color: white;
        z-index: 1000;          
        overflow-y: auto;  
    }
    
        
}

@media (max-width: 501px){
    .toggle-container{
        width: 20%;
        border: white !important;
        color: white !important;
        font-size: 28px !important;
    }
    .logocontainer{
        width: 40%;
        margin: 0% 4% 0%;
    }
    .titulosnavbar{
        font-size: 18px;
        padding: 15% 10% 12% 6%;
    }
     .navbarcollapse{
        top: 8%; 
    }
}


